/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table, th, td {
        border: 1px solid black;
    }
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: green;
  padding: 0.5em 0.5em;
  text-align: center;
  height: 10px;
}

td {
  padding: 0.5em 0 0 0.5em;
  text-align: center;
}